.vscode
**__pycache__**
exp2
1_crop.jpg
test_rotate.py 
process
fcn_mbv2_8s
tmp
TNN
*.jpg 
*.onnx 
*.png 
torch2onnx.py
inference_cloth.py 
inference.py 
test_loader.py 
*.pth 
cloth 
cloth2 
*log 
datasets/voc2012/data/
makeData.py 
merge_data.py 
to_srcipt.py
*.DS_Store*
